apiVersion: kiali.io/v1alpha1
kind: Kiali
metadata:
  name: kiali
  namespace: istio-system
spec:
  version: default

  auth:
    strategy: anonymous

  deployment:
    accessible_namespaces:
    - "**"
    image_pull_policy: IfNotPresent

  external_services:
    istio:
      root_namespace: istio-system
      component_status:
        enabled: true
        components:
        - app_label: istiod
          namespace: istio-system
        - app_label: ztunnel
          namespace: ztunnel

    prometheus:
      url: "http://prometheus.istio-system:9090"

    grafana:
      enabled: false

    tracing:
      enabled: false

  server:
    web_root: /kiali
